In [119]:
import numpy as np
import pandas as pd

In [120]:
meteors_showers = pd.read_csv('data/meteor_showers.csv')
moon_phases = pd.read_csv('data/moon_phases.csv')
constellations = pd.read_csv('data/constellations.csv')
cities = pd.read_csv('data/cities.csv')

In [121]:
cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256 entries, 0 to 255
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   city      256 non-null    object
 1   latitude  256 non-null    float64
 2   country   256 non-null    object
dtypes: float64(1), object(2)
memory usage: 6.1+ KB

In [122]:
cities.head()

          city  latitude               country
0    Abu Dhabi     24.47  United Arab Emirates
1        Abuja      9.07               Nigeria
2        Accra      5.55                 Ghana
3    Adamstown    -25.07      Pitcairn Islands
4  Addis Ababa      9.02              Ethiopia

In [123]:
cities.head(10)

               city  latitude               country
0         Abu Dhabi     24.47  United Arab Emirates
1             Abuja      9.07               Nigeria
2             Accra      5.55                 Ghana
3         Adamstown    -25.07      Pitcairn Islands
4       Addis Ababa      9.02              Ethiopia
5           Algiers     36.77               Algeria
6             Alofi    -19.07                  Niue
7             Amman     31.93                Jordan
8         Amsterdam     52.37           Netherlands
9  Andorra la Vella     42.50               Andorra

In [124]:
months ={'january':1, 'february':2, 'march':3, 'april':4, 'may':5, 'june':6, 'july':7, 'august':8, 'september':9, 'october':10, 'november':11, 'december':12}

In [125]:
months

{'january': 1,
 'february': 2,
 'march': 3,
 'april': 4,
 'may': 5,
 'june': 6,
 'july': 7,
 'august': 8,
 'september': 9,
 'october': 10,
 'november': 11,
 'december': 12}

In [126]:
meteors_showers.bestmonth = meteors_showers.bestmonth.map(months)

In [127]:
meteors_showers.head()

,name,radiant,bestmonth,startmonth,startday,endmonth,endday,hemisphere,preferredhemisphere
0,Lyrids,Lyra,4,april,21,april,22,northern,northern
1,Eta Aquarids,Aquarius,5,april,19,may,28,"northern, southern",southern
2,Orionids,Orion,10,october,2,november,7,"northern, southern","northern, southern"
3,Perseids,Perseus,8,july,14,august,24,northern,northern
4,Leonids,Leo,11,november,6,november,30,"northern, southern","northern, southern"

In [128]:
constellations.head()

  constellation bestmonth  latitudestart  latitudeend besttime hemisphere
0          Lyra    august             90          -40    21:00   northern
1      Aquarius   october             65          -90    21:00   southern
2         Orion   january             85          -75    21:00   northern
3       Perseus  december             90          -35    21:00   northern
4           Leo     april             90           65    21:00   northern

In [129]:
meteors_showers.startmonth = meteors_showers.startmonth.map(months)
meteors_showers.endmonth = meteors_showers.endmonth.map(months)
moon_phases.month = moon_phases.month.map(months)
constellations.bestmonth = constellations.bestmonth.map(months)

In [130]:
meteors_showers['stardate'] = pd.to_datetime(2020*10000+meteors_showers.startmonth*100+meteors_showers.startday,format='%Y%m%d')

In [131]:
meteors_showers['enddate'] = pd.to_datetime(2020*10000+meteors_showers.endmonth*100+meteors_showers.endday,format='%Y%m%d')

In [132]:
moon_phases['date'] = pd.to_datetime(2020*10000+moon_phases.month*100+moon_phases.day,format='%Y%m%d')

In [133]:
moon_phases.head()

   month  day      moonphase specialevent       date
0      1    1            NaN          NaN 2020-01-01
1      1    2  first quarter          NaN 2020-01-02
2      1    3            NaN          NaN 2020-01-03
3      1    4            NaN          NaN 2020-01-04
4      1    5            NaN          NaN 2020-01-05

In [134]:
hemispheres = {'northern':0, 'southern':1, 'nothern, southern':3}

In [135]:
meteors_showers.hemisphere = meteors_showers.hemisphere.map(hemispheres)

In [136]:
constellations.hemisphere = constellations.hemisphere.map(hemispheres)

In [137]:
phases = {'new moon':0, 'third quarter':0.5, 'fisrt quarter':0.5, 'full moon':1.0}

In [138]:
moon_phases['percentage'] = moon_phases.moonphase.map(phases)
moon_phases.head()

   month  day      moonphase specialevent       date  percentage
0      1    1            NaN          NaN 2020-01-01         NaN
1      1    2  first quarter          NaN 2020-01-02         NaN
2      1    3            NaN          NaN 2020-01-03         NaN
3      1    4            NaN          NaN 2020-01-04         NaN
4      1    5            NaN          NaN 2020-01-05         NaN

In [139]:
moon_phases = moon_phases.drop(['month', 'day', 'moonphase', 'specialevent'], axis=1)

In [140]:
lastPhase = 0

for index, row in moon_phases.iterrows():
    if pd.isnull(row['percentage']):
        moon_phases.at[index, 'percentage'] = lastPhase
    else:
        lastPhase = row['percentage']

moon_phases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        366 non-null    datetime64[ns]
 1   percentage  366 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 5.8 KB

In [141]:
meteors_showers = meteors_showers.drop(['startmonth', 'startday', 'endmonth', 'endday', 'hemisphere'], axis=1)

In [142]:
constellations = constellations.drop(['besttime'], axis=1)

In [143]:
meteors_showers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 5 non-null      object
 1   radiant              5 non-null      object
 2   bestmonth            5 non-null      int64
 3   preferredhemisphere  5 non-null      object
 4   stardate             5 non-null      datetime64[ns]
 5   enddate              5 non-null      datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(3)
memory usage: 368.0+ bytes

In [144]:
moon_phases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        366 non-null    datetime64[ns]
 1   percentage  366 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 5.8 KB

In [145]:
cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256 entries, 0 to 255
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   city      256 non-null    object
 1   latitude  256 non-null    float64
 2   country   256 non-null    object
dtypes: float64(1), object(2)
memory usage: 6.1+ KB

In [146]:
constellations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   constellation  5 non-null      object
 1   bestmonth      5 non-null      int64
 2   latitudestart  5 non-null      int64
 3   latitudeend    5 non-null      int64
 4   hemisphere     5 non-null      int64
dtypes: int64(4), object(1)
memory usage: 328.0+ bytes

La función que va a escribir debe hacer lo siguiente:

1. Determinar la latitud de una ciudad.
2. Usar esa latitud para determinar qué constelaciones se ven en esa ciudad.
3. Usar las constelaciones para determinar qué lluvias de meteoros se ven en esa ciudad.
4. Usar las lluvias de meteoros para determinar las fechas en las que son visibles.
5. Usar las fechas para buscar la fecha óptima en la que se perciba la menor cantidad de luz de la Luna.

In [192]:
def predict_best_meteor_shower_viewing(city):
    # Create an empty string to return the message back to the user
    meteor_shower_string = ""

    if city not in cities.values:
        meteor_shower_string = "Unfortunately, " + city + " isn't available for a prediction at this time."
        return meteor_shower_string

    # Get the latitude of the city from the cities DataFrame
    latitude = cities.loc[cities['city'] == city, 'latitude'].iloc[0]

    # Get the list of constellations that are viewable from that latitude
    constellation_list = constellations.loc[(constellations['latitudestart'] >= latitude) & (constellations['latitudeend'] <= latitude), 'constellation'].tolist()


    # If no constellations are viewable, let the user know
    if not constellation_list:
        meteor_shower_string = "Unfortunately, there are no meteor showers viewable from "+ city + "."

        return meteor_shower_string
    
    meteor_shower_string = "In " + city + " you can see the following meteor showers: \n"
    
    #Iterate through each constellation that is viewable from the city
    for constellation in constellation_list:

        #Find the meteor shower that is nearest to that constellation
        meteor_shower = meteors_showers.loc[meteors_showers['radiant'] == constellation, 'name'].iloc[0]

        #Find the start and end dates for that meteor shower
        metheor_shower_startdate = meteors_showers.loc[meteors_showers['radiant'] == constellation, 'stardate'].iloc[0]
        meteor_shower_enddate = meteors_showers.loc[meteors_showers['radiant'] == constellation, 'enddate'].iloc[0]
        
        #Find the moon phases for each date within the viewable time frame of that meteor shower
        moon_phases_list = moon_phases.loc[(moon_phases['date'] >= metheor_shower_startdate) & (moon_phases['date'] <= meteor_shower_enddate)]
        
        #Find the first date where the moon is the least visible
        best_moon_date = moon_phases_list.loc[moon_phases_list['percentage'].idxmin(), 'date']

        #Add that date to the string to return to the user
        meteor_shower_string += meteor_shower + ' is best seen if you look towards the ' + constellation + ' constellation on ' + best_moon_date.to_pydatetime().strftime('%B %d, %Y') + '.\n'
        
        return meteor_shower_string

In [197]:
print(predict_best_meteor_shower_viewing('Mexico City'))

In Mexico City you can see the following meteor showers:
Lyrids is best seen if you look towards the Lyra constellation on April 22, 2020.

In [196]:
print(predict_best_meteor_shower_viewing('Abuja'))

In Abuja you can see the following meteor showers:
Lyrids is best seen if you look towards the Lyra constellation on April 22, 2020.

Como recordatorio, estos pasos se siguen para encontrar la fecha óptima para ver lluvias de meteoros en una capital/ciudad concreta:

1. Determinar la latitud de la ciudad.
2. Usar esa latitud para determinar qué constelaciones se ven en esa ciudad.
3. Usar las constelaciones para determinar qué lluvias de meteoros se ven en esa ciudad.
4. Usar las lluvias de meteoros para determinar las fechas en las que son visibles.
5. Usar las fechas para buscar la fecha óptima en la que se perciba la menor cantidad de luz de la Luna.

Antes de continuar con el análisis de los datos, cree una cadena que contendrá todas las lluvias de meteoros visibles desde esa ciudad. Incluya las mejores fechas para ver las lluvias de meteoros.

En este momento, también puede tener en cuenta el hecho de que no se representan todas las ciudades ni todas las constelaciones. Por tanto, algunas entradas de usuario podrían producir errores. En la parte superior de la función, agregue la siguiente instrucción condicional: